body{
    background: black;
}

header{
    background: grey;
    height: 10vh;
   
}

.container{
    background:grey;
    height: 128vh;
    width: 45vw;
    margin: 0 auto;
    
}

#sec1{
    
    height: 15vh;
    width: auto;
    
}

#sec2{
    background: white;
    height: 55vh;
    width: auto;

}

div.omg2{
    padding: 58px;
}


